*.bit
netlist.lst
xflow.his
xflow_script.scr
smartpreview.twr
par_usage_statistics.html
fsm_encoding.os
_xmsgs/
xlnx_auto_0_xdb/
xst/
*.log
*_queens_uart.tmp
*_queens_uart.bgn
*_queens_uart.bld
*_queens_uart.dep
*_queens_uart.drc
*_queens_uart.lso
*_queens_uart.ncd
*_queens_uart.ngc
*_queens_uart.ngd
*_queens_uart.pad
*_queens_uart.par
*_queens_uart.pcf
*_queens_uart.ptwx
*_queens_uart.twr
*_queens_uart.twx
*_queens_uart.unroutes
*_queens_uart.xpi
*_queens_uart_bitgen.xwbt
*_queens_uart_map.map
*_queens_uart_map.mrp
*_queens_uart_map.ncd
*_queens_uart_map.ngm
*_queens_uart_map.xrpt
*_queens_uart_ngdbuild.xrpt
*_queens_uart_pad.csv
*_queens_uart_pad.txt
*_queens_uart_par.xrpt
*_queens_uart_summary.xml
*_queens_uart_usage.xml
*_queens_uart_xst.scr
*_queens_uart_xst.xrpt
