*.bit
netlist.lst
xflow.his
xflow_script.scr
smartpreview.twr
par_usage_statistics.html
fsm_encoding.os
_xmsgs/
xlnx_auto_0_xdb/
xst/
*.log
*_queens_*.tmp
*_queens_*.bgn
*_queens_*.bld
*_queens_*.dep
*_queens_*.drc
*_queens_*.lso
*_queens_*.ncd
*_queens_*.ngc
*_queens_*.ngd
*_queens_*.pad
*_queens_*.par
*_queens_*.pcf
*_queens_*.ptwx
*_queens_*.twr
*_queens_*.twx
*_queens_*.unroutes
*_queens_*.xpi
*_queens_*_bitgen.xwbt
*_queens_*_map.map
*_queens_*_map.mrp
*_queens_*_map.ncd
*_queens_*_map.ngm
*_queens_*_map.xrpt
*_queens_*_ngdbuild.xrpt
*_queens_*_pad.csv
*_queens_*_pad.txt
*_queens_*_par.xrpt
*_queens_*_summary.xml
*_queens_*_usage.xml
*_queens_*_xst.scr
*_queens_*_xst.xrpt
