CONFIG PART = XC7K325T-FFG900-2;

NET "clk_p"  LOC = "AD12";
NET "clk_n"  LOC = "AD11";
NET "clk_?"  IOSTANDARD = LVDS;
NET "clk_p"  TNM_NET = "clk200";

TIMESPEC "TS_clk200" = PERIOD "clk200" 200 MHz HIGH 50 %;

NET "rx"	LOC="M19" | IOSTANDARD = LVCMOS25 | TIG ;
NET "tx"	LOC="K24" | IOSTANDARD = LVCMOS25 | TIG ;
NET "rts"	LOC="K23" | IOSTANDARD = LVCMOS25 | TIG ;
NET "cts"	LOC="L27" | IOSTANDARD = LVCMOS25 | TIG ;

NET "FanControl_PWM"   LOC = "L26" | IOSTANDARD = LVCMOS25 | TIG ;
