CONFIG PART = XC5VSX50T-FF1136-1;

NET "clkx" TNM_NET = "clkx";
TIMESPEC "TS_clk" = PERIOD "clkx" 10 ns HIGH 50 %;

NET "clkx"  LOC = "AH15" | IOSTANDARD = LVCMOS33 ;
NET "rstx"  LOC = "E9" | IOSTANDARD = LVCMOS33 | TIG ;

NET "rx"  LOC="AG15" | IOSTANDARD = LVCMOS33 | TIG ;
NET "tx"  LOC="AG20" | IOSTANDARD = LVCMOS33 | TIG | SLEW=FAST ;

NET leds<0>	LOC="H18";
NET leds<1>	LOC="L18";
NET leds<2>	LOC="G15";
NET leds<3>	LOC="AD26";
NET leds<4>	LOC="G16";
NET leds<5>	LOC="AD25";
NET leds<6>	LOC="AD24";
NET leds<7>	LOC="AE24";
NET leds<0>	IOSTANDARD="LVCMOS25";
NET leds<1>	IOSTANDARD="LVCMOS25";
NET leds<2>	IOSTANDARD="LVCMOS25";
NET leds<3>	IOSTANDARD="LVCMOS18";
NET leds<4>	IOSTANDARD="LVCMOS25";
NET leds<5>	IOSTANDARD="LVCMOS18";
NET leds<6>	IOSTANDARD="LVCMOS18";
NET leds<7>	IOSTANDARD="LVCMOS18";
NET leds[*]	TIG | SLEW=SLOW;
