CONFIG PART = XC6VLX240TFF1156-1;

NET "clk_p"  LOC = "J9";
NET "clk_n"  LOC = "H9";
NET "clk_?"  IOSTANDARD = LVDS_25;
NET "clk_p"  TNM_NET = "clk200";

TIMESPEC "TS_clk200" = PERIOD "clk200" 200 MHz HIGH 50 %;

NET "rx"	LOC="J24" | IOSTANDARD = LVCMOS25 | TIG ;
NET "tx"	LOC="J25" | IOSTANDARD = LVCMOS25 | TIG ;
NET "rts_n"	LOC="T23" | IOSTANDARD = LVCMOS25 | TIG ;
NET "cts_n"	LOC="T24" | IOSTANDARD = LVCMOS25 | TIG ;

NET "FanControl_PWM"	LOC = "L10" | IOSTANDARD = LVCMOS25 | TIG ;
