CONFIG PART = XC4VLX160-FF1148-10;

NET "CLK16_U" TNM_NET = "CLK16_U";
TIMESPEC "TS_CLK16_U" = PERIOD "CLK16_U" 62.5 ns HIGH 50 %;

NET "CLK16_U"	LOC = "AJ17" | IOSTANDARD = LVCMOS33 ;

NET "led<0>"	LOC = "AN20" | IOSTANDARD = LVCMOS25 ;
NET "led<1>"	LOC = "AP20" | IOSTANDARD = LVCMOS25 ;
NET "led<2>"	LOC = "AN15" | IOSTANDARD = LVCMOS25 ;
NET "led<3>"	LOC = "AP15" | IOSTANDARD = LVCMOS25 ;

# FPGA 2 -> 4
NET "BUS_OUT_CLKP"	LOC = "AB3" | IOSTANDARD = LVDS_25 ;
NET "BUS_OUT_CLKN"	LOC = "AA3" | IOSTANDARD = LVDS_25 ;

NET "BUS_OUT_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_PRE_DAT<0>"	LOC = "U2" ;
NET "BUS_OUT_PRE_DAT<1>"	LOC = "U1" ;

# FPGA 1 -> 2
NET "BUS_IN_CLKP"	LOC = "B23" | IOSTANDARD = LVDS_25 ;
NET "BUS_IN_CLKN"	LOC = "A23" | IOSTANDARD = LVDS_25 ;

NET "BUS_IN_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_PRE_DAT<0>"	LOC = "A26" ;
NET "BUS_IN_PRE_DAT<1>"	LOC = "B26" ;
