CONFIG PART = XC4VLX160-FF1148-10;
CONFIG STEPPING = "2";

NET "CLK16_U" TNM_NET = "CLK16_U";
TIMESPEC "TS_CLK16_U" = PERIOD "CLK16_U" 62.5 ns HIGH 50 %;

NET "CLK16_U"	LOC = "M16" | IOSTANDARD = LVCMOS33 ;

NET "led<0>"	LOC = "AP20" | IOSTANDARD = LVCMOS25 ;
NET "led<1>"	LOC = "AN20" | IOSTANDARD = LVCMOS25 ;
NET "led<2>"	LOC = "AN15" | IOSTANDARD = LVCMOS25 ;
NET "led<3>"	LOC = "AP15" | IOSTANDARD = LVCMOS25 ;

# FPGA 3 -> 1
NET "BUS_OUT_CLKP"	LOC = "AC29" | IOSTANDARD = LVDS_25 ;
NET "BUS_OUT_CLKN"	LOC = "AC30" | IOSTANDARD = LVDS_25 ;

NET "BUS_OUT_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_PRE_DAT<0>"	LOC = "AJ30" ;
NET "BUS_OUT_PRE_DAT<1>"	LOC = "AH30" ;
NET "BUS_OUT_PRE_DAT<2>"	LOC = "AF31" ;
NET "BUS_OUT_PRE_DAT<3>"	LOC = "AE31" ;
NET "BUS_OUT_PRE_DAT<4>"	LOC = "AF29" ;
NET "BUS_OUT_PRE_DAT<5>"	LOC = "AF30" ;
NET "BUS_OUT_PRE_DAT<6>"	LOC = "AL33" ;
NET "BUS_OUT_PRE_DAT<7>"	LOC = "AL34" ;
NET "BUS_OUT_PRE_DAT<8>"	LOC = "AK31" ;
NET "BUS_OUT_PRE_PUT"		LOC = "AK32" ;
NET "BUS_OUT_PRE_GO"		LOC = "W25" ;

NET "BUS_OUT_SOL_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_SOL_DAT<0>"	LOC = "AD27" ;
NET "BUS_OUT_SOL_DAT<1>"	LOC = "AC27" ;
NET "BUS_OUT_SOL_DAT<2>"	LOC = "AA25" ;
NET "BUS_OUT_SOL_DAT<3>"	LOC = "AA26" ;
NET "BUS_OUT_SOL_DAT<4>"	LOC = "AD34" ;
NET "BUS_OUT_SOL_DAT<5>"	LOC = "AC34" ;
NET "BUS_OUT_SOL_DAT<6>"	LOC = "AA23" ;
NET "BUS_OUT_SOL_DAT<7>"	LOC = "AA24" ;
NET "BUS_OUT_SOL_DAT<8>"	LOC = "AF33" ;
NET "BUS_OUT_SOL_PUT"		LOC = "AF34" ;
NET "BUS_OUT_SOL_GO"		LOC = "Y26" ;

# FPGA 4 -> 3
NET "BUS_IN_CLKP"	LOC = "AL24" | IOSTANDARD = LVDS_25 ;
NET "BUS_IN_CLKN"	LOC = "AL25" | IOSTANDARD = LVDS_25 ;

NET "BUS_IN_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_PRE_DAT<0>"	LOC = "AL26" ;
NET "BUS_IN_PRE_DAT<1>"	LOC = "AK26" ;
NET "BUS_IN_PRE_DAT<2>"	LOC = "AN22" ;
NET "BUS_IN_PRE_DAT<3>"	LOC = "AN23" ;
NET "BUS_IN_PRE_DAT<4>"	LOC = "AJ25" ;
NET "BUS_IN_PRE_DAT<5>"	LOC = "AH25" ;
NET "BUS_IN_PRE_DAT<6>"	LOC = "AP24" ;
NET "BUS_IN_PRE_DAT<7>"	LOC = "AN24" ;
NET "BUS_IN_PRE_DAT<8>"	LOC = "AM26" ;
NET "BUS_IN_PRE_PUT"	LOC = "AM27" ;
NET "BUS_IN_PRE_GO"	LOC = "AK27" ;

NET "BUS_IN_SOL_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_SOL_DAT<0>"	LOC = "AL23" ;
NET "BUS_IN_SOL_DAT<1>"	LOC = "AM23" ;
NET "BUS_IN_SOL_DAT<2>"	LOC = "AN25" ;
NET "BUS_IN_SOL_DAT<3>"	LOC = "AM25" ;
NET "BUS_IN_SOL_DAT<4>"	LOC = "AP21" ;
NET "BUS_IN_SOL_DAT<5>"	LOC = "AP22" ;
NET "BUS_IN_SOL_DAT<6>"	LOC = "AP29" ;
NET "BUS_IN_SOL_DAT<7>"	LOC = "AN29" ;
NET "BUS_IN_SOL_DAT<8>"	LOC = "AK24" ;
NET "BUS_IN_SOL_PUT"	LOC = "AJ24" ;
NET "BUS_IN_SOL_GO"	LOC = "AK28" ;
