CONFIG PART = XC4VLX160-FF1148-10;
CONFIG STEPPING = "2";

NET "CLK16_U" TNM_NET = "CLK16_U";
TIMESPEC "TS_CLK16_U" = PERIOD "CLK16_U" 62.5 ns HIGH 50 %;

NET "CLK16_U"	LOC = "F18" | IOSTANDARD = LVCMOS33 ;

NET "led<0>"	LOC = "AP20" | IOSTANDARD = LVCMOS25 ;
NET "led<1>"	LOC = "AN20" | IOSTANDARD = LVCMOS25 ;
NET "led<2>"	LOC = "AN15" | IOSTANDARD = LVCMOS25 ;
NET "led<3>"	LOC = "AP15" | IOSTANDARD = LVCMOS25 ;

NET "rx"        LOC="N4" | IOSTANDARD = LVCMOS33 ;
NET "tx"        LOC="N3" | IOSTANDARD = LVCMOS33 ;

NET  "cts"      LOC="N2" | IOSTANDARD = LVCMOS33 ;
NET  "rts"      LOC="P4" | IOSTANDARD = LVCMOS33 ;

# FPGA 4 -> 3
NET "BUS_OUT_CLKP"	LOC = "J29" | IOSTANDARD = LVDS_25 ;
NET "BUS_OUT_CLKN"	LOC = "J30" | IOSTANDARD = LVDS_25 ;

NET "BUS_OUT_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_PRE_DAT<0>"	LOC = "L25" ;
NET "BUS_OUT_PRE_DAT<1>"	LOC = "L26" ;
NET "BUS_OUT_PRE_DAT<2>"	LOC = "H27" ;
NET "BUS_OUT_PRE_DAT<3>"	LOC = "H28" ;
NET "BUS_OUT_PRE_DAT<4>"	LOC = "H32" ;
NET "BUS_OUT_PRE_DAT<5>"	LOC = "J32" ;
NET "BUS_OUT_PRE_DAT<6>"	LOC = "H29" ;
NET "BUS_OUT_PRE_DAT<7>"	LOC = "H30" ;
NET "BUS_OUT_PRE_DAT<8>"	LOC = "N22" ;
NET "BUS_OUT_PRE_PUT"		LOC = "N23" ;
NET "BUS_OUT_PRE_GO"		LOC = "L30" ;

NET "BUS_OUT_SOL_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_SOL_DAT<0>"	LOC = "G32" ;
NET "BUS_OUT_SOL_DAT<1>"	LOC = "G33" ;
NET "BUS_OUT_SOL_DAT<2>"	LOC = "J27" ;
NET "BUS_OUT_SOL_DAT<3>"	LOC = "K27" ;
NET "BUS_OUT_SOL_DAT<4>"	LOC = "K24" ;
NET "BUS_OUT_SOL_DAT<5>"	LOC = "J24" ;
NET "BUS_OUT_SOL_DAT<6>"	LOC = "R22" ;
NET "BUS_OUT_SOL_DAT<7>"	LOC = "R23" ;
NET "BUS_OUT_SOL_DAT<8>"	LOC = "J25" ;
NET "BUS_OUT_SOL_PUT"		LOC = "K26" ;
NET "BUS_OUT_SOL_GO"		LOC = "L31" ;

# FPGA 2 -> 4
NET "BUS_IN_CLKP"	LOC = "AJ34" | IOSTANDARD = LVDS_25 ;
NET "BUS_IN_CLKN"	LOC = "AH34" | IOSTANDARD = LVDS_25 ;

NET "BUS_IN_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_PRE_DAT<0>"	LOC = "AD27" ;
NET "BUS_IN_PRE_DAT<1>"	LOC = "AC27" ;
NET "BUS_IN_PRE_DAT<2>"	LOC = "AB25" ;
NET "BUS_IN_PRE_DAT<3>"	LOC = "AB26" ;
NET "BUS_IN_PRE_DAT<4>"	LOC = "AG30" ;
NET "BUS_IN_PRE_DAT<5>"	LOC = "AG31" ;
NET "BUS_IN_PRE_DAT<6>"	LOC = "AH32" ;
NET "BUS_IN_PRE_DAT<7>"	LOC = "AH33" ;
NET "BUS_IN_PRE_DAT<8>"	LOC = "AF29" ;
NET "BUS_IN_PRE_PUT"	LOC = "AF30" ;
NET "BUS_IN_PRE_GO"	LOC = "AC29" ;

NET "BUS_IN_SOL_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_SOL_DAT<0>"	LOC = "AA28" ;
NET "BUS_IN_SOL_DAT<1>"	LOC = "AA29" ;
NET "BUS_IN_SOL_DAT<2>"	LOC = "AB30" ;
NET "BUS_IN_SOL_DAT<3>"	LOC = "AA30" ;
NET "BUS_IN_SOL_DAT<4>"	LOC = "W25" ;
NET "BUS_IN_SOL_DAT<5>"	LOC = "Y26" ;
NET "BUS_IN_SOL_DAT<6>"	LOC = "AE33" ;
NET "BUS_IN_SOL_DAT<7>"	LOC = "AE34" ;
NET "BUS_IN_SOL_DAT<8>"	LOC = "AC32" ;
NET "BUS_IN_SOL_PUT"	LOC = "AC33" ;
NET "BUS_IN_SOL_GO"	LOC = "AC30" ;
