CONFIG PART = XC4VLX160-FF1148-10;
CONFIG STEPPING = "2";

NET "CLK16_U" TNM_NET = "CLK16_U";
TIMESPEC "TS_CLK16_U" = PERIOD "CLK16_U" 62.5 ns HIGH 50 %;

NET "CLK16_U"	LOC = "AJ17" | IOSTANDARD = LVCMOS33 ;

NET "led<0>"	LOC = "AN20" | IOSTANDARD = LVCMOS25 ;
NET "led<1>"	LOC = "AP20" | IOSTANDARD = LVCMOS25 ;
NET "led<2>"	LOC = "AN15" | IOSTANDARD = LVCMOS25 ;
NET "led<3>"	LOC = "AP15" | IOSTANDARD = LVCMOS25 ;

# FPGA 2 -> 4
NET "BUS_OUT_CLKP"	LOC = "AB3" | IOSTANDARD = LVDS_25 ;
NET "BUS_OUT_CLKN"	LOC = "AA3" | IOSTANDARD = LVDS_25 ;

NET "BUS_OUT_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_PRE_DAT<0>"	LOC = "U2" ;
NET "BUS_OUT_PRE_DAT<1>"	LOC = "U1" ;
NET "BUS_OUT_PRE_DAT<2>"	LOC = "R1" ;
NET "BUS_OUT_PRE_DAT<3>"	LOC = "T1" ;
NET "BUS_OUT_PRE_DAT<4>"	LOC = "AA6" ;
NET "BUS_OUT_PRE_DAT<5>"	LOC = "Y6" ;
NET "BUS_OUT_PRE_DAT<6>"	LOC = "AA5" ;
NET "BUS_OUT_PRE_DAT<7>"	LOC = "AA4" ;
NET "BUS_OUT_PRE_DAT<8>"	LOC = "W2" ;
NET "BUS_OUT_PRE_PUT"		LOC = "W1" ;
NET "BUS_OUT_PRE_GO"		LOC = "R8" ;

NET "BUS_OUT_SOL_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_SOL_DAT<0>"	LOC = "N4" ;
NET "BUS_OUT_SOL_DAT<1>"	LOC = "P4" ;
NET "BUS_OUT_SOL_DAT<2>"	LOC = "R4" ;
NET "BUS_OUT_SOL_DAT<3>"	LOC = "T4" ;
NET "BUS_OUT_SOL_DAT<4>"	LOC = "P2" ;
NET "BUS_OUT_SOL_DAT<5>"	LOC = "P1" ;
NET "BUS_OUT_SOL_DAT<6>"	LOC = "U10" ;
NET "BUS_OUT_SOL_DAT<7>"	LOC = "V10" ;
NET "BUS_OUT_SOL_DAT<8>"	LOC = "T6" ;
NET "BUS_OUT_SOL_PUT"		LOC = "T5" ;
NET "BUS_OUT_SOL_GO"		LOC = "T8" ;

# FPGA 1 -> 2
NET "BUS_IN_CLKP"	LOC = "B23" | IOSTANDARD = LVDS_25 ;
NET "BUS_IN_CLKN"	LOC = "A23" | IOSTANDARD = LVDS_25 ;

NET "BUS_IN_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_PRE_DAT<0>"	LOC = "A26" ;
NET "BUS_IN_PRE_DAT<1>"	LOC = "B26" ;
NET "BUS_IN_PRE_DAT<2>"	LOC = "A24" ;
NET "BUS_IN_PRE_DAT<3>"	LOC = "A25" ;
NET "BUS_IN_PRE_DAT<4>"	LOC = "G25" ;
NET "BUS_IN_PRE_DAT<5>"	LOC = "H25" ;
NET "BUS_IN_PRE_DAT<6>"	LOC = "C23" ;
NET "BUS_IN_PRE_DAT<7>"	LOC = "C24" ;
NET "BUS_IN_PRE_DAT<8>"	LOC = "F25" ;
NET "BUS_IN_PRE_PUT"	LOC = "F26" ;
NET "BUS_IN_PRE_GO"	LOC = "B21" ;

NET "BUS_IN_SOL_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_SOL_DAT<0>"	LOC = "D24" ;
NET "BUS_IN_SOL_DAT<1>"	LOC = "D25" ;
NET "BUS_IN_SOL_DAT<2>"	LOC = "B27" ;
NET "BUS_IN_SOL_DAT<3>"	LOC = "C27" ;
NET "BUS_IN_SOL_DAT<4>"	LOC = "C22" ;
NET "BUS_IN_SOL_DAT<5>"	LOC = "B22" ;
NET "BUS_IN_SOL_DAT<6>"	LOC = "A30" ;
NET "BUS_IN_SOL_DAT<7>"	LOC = "B30" ;
NET "BUS_IN_SOL_DAT<8>"	LOC = "C29" ;
NET "BUS_IN_SOL_PUT"	LOC = "C30" ;
NET "BUS_IN_SOL_GO"	LOC = "A21" ;
