CONFIG PART = XC4VLX160-FF1148-10;

NET "CLK16_U" TNM_NET = "CLK16_U";
TIMESPEC "TS_CLK16_U" = PERIOD "CLK16_U" 62.5 ns HIGH 50 %;

NET "CLK16_U"	LOC = "M16" | IOSTANDARD = LVCMOS33 ;

NET "led<0>"	LOC = "AP20" | IOSTANDARD = LVCMOS25 ;
NET "led<1>"	LOC = "AN20" | IOSTANDARD = LVCMOS25 ;
NET "led<2>"	LOC = "AN15" | IOSTANDARD = LVCMOS25 ;
NET "led<3>"	LOC = "AP15" | IOSTANDARD = LVCMOS25 ;

# FPGA 3 -> 2
NET "BUS_OUT_CLKP"	LOC = "AC29" | IOSTANDARD = LVDS_25 ;
NET "BUS_OUT_CLKN"	LOC = "AC30" | IOSTANDARD = LVDS_25 ;

NET "BUS_OUT_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_PRE_DAT<0>"	LOC = "AJ30" ;
NET "BUS_OUT_PRE_DAT<1>"	LOC = "AH30" ;

# FPGA 4 -> 3
NET "BUS_IN_CLKP"	LOC = "AL24" | IOSTANDARD = LVDS_25 ;
NET "BUS_IN_CLKN"	LOC = "AL25" | IOSTANDARD = LVDS_25 ;

NET "BUS_IN_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_PRE_DAT<0>"	LOC = "AL26" ;
NET "BUS_IN_PRE_DAT<1>"	LOC = "AK26" ;
