CONFIG PART = XC4VLX160-FF1148-10;
CONFIG STEPPING = "2";

NET "CLK16_U" TNM_NET = "CLK16_U";
TIMESPEC "TS_CLK16_U" = PERIOD "CLK16_U" 62.5 ns HIGH 50 %;

NET "CLK16_U"	LOC = "M16" | IOSTANDARD = LVCMOS33 ;

NET "led<0>"	LOC = "AP20" | IOSTANDARD = LVCMOS25 ;
NET "led<1>"	LOC = "AN20" | IOSTANDARD = LVCMOS25 ;
NET "led<2>"	LOC = "AN15" | IOSTANDARD = LVCMOS25 ;
NET "led<3>"	LOC = "AP15" | IOSTANDARD = LVCMOS25 ;

# FPGA 1 -> 2
NET "BUS_OUT_CLKP"	LOC = "AP21" | IOSTANDARD = LVDS_25 ;
NET "BUS_OUT_CLKN"	LOC = "AP22" | IOSTANDARD = LVDS_25 ;

NET "BUS_OUT_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_PRE_DAT<0>"	LOC = "AF26" ;
NET "BUS_OUT_PRE_DAT<1>"	LOC = "AE26" ;
NET "BUS_OUT_PRE_DAT<2>"	LOC = "AJ25" ;
NET "BUS_OUT_PRE_DAT<3>"	LOC = "AH25" ;
NET "BUS_OUT_PRE_DAT<4>"	LOC = "AN25" ;
NET "BUS_OUT_PRE_DAT<5>"	LOC = "AM25" ;
NET "BUS_OUT_PRE_DAT<6>"	LOC = "AN22" ;
NET "BUS_OUT_PRE_DAT<7>"	LOC = "AN23" ;
NET "BUS_OUT_PRE_DAT<8>"	LOC = "AP25" ;
NET "BUS_OUT_PRE_PUT"		LOC = "AP26" ;
NET "BUS_OUT_PRE_GO"		LOC = "AK21" ;

NET "BUS_OUT_SOL_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_OUT_SOL_DAT<0>"	LOC = "AL24" ;
NET "BUS_OUT_SOL_DAT<1>"	LOC = "AL25" ;
NET "BUS_OUT_SOL_DAT<2>"	LOC = "AP27" ;
NET "BUS_OUT_SOL_DAT<3>"	LOC = "AN27" ;
NET "BUS_OUT_SOL_DAT<4>"	LOC = "AM21" ;
NET "BUS_OUT_SOL_DAT<5>"	LOC = "AM22" ;
NET "BUS_OUT_SOL_DAT<6>"	LOC = "AH28" ;
NET "BUS_OUT_SOL_DAT<7>"	LOC = "AH29" ;
NET "BUS_OUT_SOL_DAT<8>"	LOC = "AK29" ;
NET "BUS_OUT_SOL_PUT"		LOC = "AJ29" ;
NET "BUS_OUT_SOL_GO"		LOC = "AL21" ;

# FPGA 3 -> 1
NET "BUS_IN_CLKP"	LOC = "AC9" | IOSTANDARD = LVDS_25 ;
NET "BUS_IN_CLKN"	LOC = "AC8" | IOSTANDARD = LVDS_25 ;

NET "BUS_IN_PRE_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_PRE_DAT<0>"	LOC = "AG3" ;
NET "BUS_IN_PRE_DAT<1>"	LOC = "AF3" ;
NET "BUS_IN_PRE_DAT<2>"	LOC = "AF6" ;
NET "BUS_IN_PRE_DAT<3>"	LOC = "AE6" ;
NET "BUS_IN_PRE_DAT<4>"	LOC = "AF5" ;
NET "BUS_IN_PRE_DAT<5>"	LOC = "AF4" ;
NET "BUS_IN_PRE_DAT<6>"	LOC = "AL1" ;
NET "BUS_IN_PRE_DAT<7>"	LOC = "AK1" ;
NET "BUS_IN_PRE_DAT<8>"	LOC = "AJ2" ;
NET "BUS_IN_PRE_PUT"	LOC = "AJ1" ;
NET "BUS_IN_PRE_GO"	LOC = "Y14" ;

NET "BUS_IN_SOL_DAT<*>"	IOSTANDARD = LVCMOS25 ;
NET "BUS_IN_SOL_DAT<0>"	LOC = "AE7" ;
NET "BUS_IN_SOL_DAT<1>"	LOC = "AD7" ;
NET "BUS_IN_SOL_DAT<2>"	LOC = "AB6" ;
NET "BUS_IN_SOL_DAT<3>"	LOC = "AB5" ;
NET "BUS_IN_SOL_DAT<4>"	LOC = "AC3" ;
NET "BUS_IN_SOL_DAT<5>"	LOC = "AC2" ;
NET "BUS_IN_SOL_DAT<6>"	LOC = "Y11" ;
NET "BUS_IN_SOL_DAT<7>"	LOC = "AA11" ;
NET "BUS_IN_SOL_DAT<8>"	LOC = "AD2" ;
NET "BUS_IN_SOL_PUT"	LOC = "AD1" ;
NET "BUS_IN_SOL_GO"	LOC = "AA13" ;
