CONFIG PART = XC7VX485T-FFG1761-2;

NET "clk_p"  LOC = "E19";
NET "clk_n"  LOC = "E18";
NET "clk_?"  IOSTANDARD = LVDS;
NET "clk_p"  TNM_NET = "clk200";

TIMESPEC "TS_clk200" = PERIOD "clk200" 200 MHz HIGH 50 %;

NET "rx"	LOC="AU33" | IOSTANDARD = LVCMOS18 | TIG ;
NET "tx"	LOC="AU36" | IOSTANDARD = LVCMOS18 | TIG ;
NET "rts_n"	LOC="AT32" | IOSTANDARD = LVCMOS18 | TIG ;
NET "cts_n"	LOC="AR34" | IOSTANDARD = LVCMOS18 | TIG ;

NET "VC707_FanControl_PWM"   LOC = "BA37" | IOSTANDARD = LVCMOS18 | TIG ;
